extends layout

block content
		div.center-white
			h1 Please use the following to schedule a session!
		iframe(src="https://sagenda.net/Frontend/5776a51b85387513a40b77fd?retrieveFromCookies=False", width="800vw", height="500vh", frameborder="0", allowtransparency="true")

