extends layout

block content
	div.center
		div.aboutme-paragraph(style="text-align:center")
			img.profile-image(src="/images/IMG_0320.jpg")
			<br><br>
			h1 Cynthia Tran<br>
			a(href="mailto:CynthiaTran88@gmail.com") CynthiaTran88@gmail.com

			<br><br>
			p (981)-288-6656<br><br>Instagram: 
			a(href="https://www.instagram.com/cyantrnthai/") @cyantrnthai<br><br>
			p Facebook:
			a(href="https://www.facebook.com/CDTImageryCreations") CDT Imagery Creations