extends layout

block content
		div.main-background-slider
			.slider-content
				img(src="/images/SliderPhotos/_ANH1071.jpg", alt="")
			.slider-content
				img(src="/images/SliderPhotos/_ANH1109.jpg", alt="")
			.slider-content
				img(src="/images/SliderPhotos/_ANH1324.jpg", alt="")
			.slider-content
				img(src="/images/SliderPhotos/_ANH1924.jpg", alt="")
			.slider-content
				img(src="/images/SliderPhotos/IMG_0298.jpg", alt="")
			.slider-content
				img(src="/images/SliderPhotos/YA0A0188.jpg", alt="")
			.slider-content
				img(src="/images/SliderPhotos/YA0A0247.jpg", alt="")
