doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/abower_components/slick-carousel/slick/slick-theme.css')
		link(rel='stylesheet', href='/bower_components/slick-carousel/slick/slick.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/jquery-ui/jquery-ui.js')
		script(src='/bower_components/jquery-ui/jquery-ui.min.js')
		script(src='/bower_components/slick-carousel/slick/slick.js')
		script(src='/bower_components/slick-carousel/slick/slick.min.js')
		script(src='/javascripts/custom-js.js')


	body
		nav.main-navigation
			h1: a(href="/") CDT
			h3 Imagery
			div.nav-bar
				ul
					li: a(href='/aboutme') About Me
					li#dropdown Portfolio
						ul(style="height: <height in px>;")#new-dropdown.new-dropdown-hide 
							li: a(href="/portfolio/boudoir") Boudoir
							li: a(href="/portfolio/landscape") Landscape
							li: a(href="/portfolio/Lifestyle") Lifestyle
							li: a(href="/portfolio/portraits") Portraits
					li: a(href='/Booking') Booking
					li: a(href='/contact') Contact
		block content
