doctype html
html
	head
		title CDT Imagery
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
		script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		link(rel="stylesheet",href="/slick/slick.css")
		link(rel="stylesheet",href="/slick/slick-theme.css")
		link(rel="stylesheet",type="text/css",href="https://fonts.googleapis.com/css?family=Raleway:300")
		script(src='/javascripts/custom-js.js')
		
	
	body
		nav.main-nav-2
			img#dropdown-nav-phone(src="/images/hamburger-icon.png")
			div#secondary-nav-dropdown
				ul
					li: a(href='/Aboutme') About Me
					li: a(href="/boudoir") Boudoir		
					li: a(href="/California") California
					li: a(href="/New-York") New York
					li: a(href="/Oklahoma") Oklahoma
					li: a(href="/Oregon") Oregon
					li: a(href="/lifestyle") Lifestyle
					li: a(href="/portraits") Portraits
					li: a(href='/Booking') Booking
					li: a(href='/Contact') Contact
		nav.main-navigation
			h1: a(href="/") CDT
			h3 Imagery
			div.nav-bar
				ul
					li.bottom-border-expand: a(href='/Aboutme') About Me
					li.bottom-border-expand#dropdown Portfolio
						ul(style="height: <height in px>;")#new-dropdown.new-dropdown-hide 
							li: a(href="/boudoir") Boudoir
							li#dropdown-2 Landscape
								ul(style="height: <height in px>;")#new-dropdown-2.new-dropdown-hide-2
									li: a(href="/California") California
									li: a(href="/New-York") New York
									li: a(href="/Oklahoma") Oklahoma
									li: a(href="/Oregon") Oregon
							li: a(href="/lifestyle") Lifestyle
							li: a(href="/portraits") Portraits
					li.bottom-border-expand: a(href='/Booking') Booking
					li.bottom-border-expand: a(href='/Contact') Contact Me
		block content
	script(src="slick/slick.js")