doctype html
html
	head
		title CDT Imagery
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
		script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		link(rel="stylesheet",href="/slick/slick.css")
		link(rel="stylesheet",href="/slick/slick-theme.css")
		script(src='/javascripts/custom-js.js')
	
	
	body
		nav.main-navigation
			h1: a(href="/") CDT
			h3 Imagery
			div.nav-bar
				ul
					li.bottom-border-expand: a(href='/aboutme') About Me
					li.bottom-border-expand#dropdown Portfolio
						ul(style="height: <height in px>;")#new-dropdown.new-dropdown-hide 
							li: a(href="/portfolio/boudoir") Boudoir
							li: a(href="/portfolio/landscape") Landscape
							li: a(href="/portfolio/Lifestyle") Lifestyle
							li: a(href="/portfolio/portraits") Portraits
					li.bottom-border-expand: a(href='/Booking') Booking
					li.bottom-border-expand: a(href='/contact') Contact
		block content
	script(src="slick/slick.min.js")