extends layout

block content

		div.sliderfor
			each files in data
				img(src="/images/Photography_Site_Photos/Lifestyle/"+ files)

		div.slider-nav
			each files in data
				img(src="/images/Photography_Site_Photos/Lifestyle/"+files)