extends layout

block content
	div.black
		div.sliderfor
			each files in data
				img(src="/images/Photography_Site_Photos/Landscape/Oregon"+ files)

		div.slider-nav
			each files in data
				img(src="/images/Photography_Site_Photos/Landscape/Oregon"+files)