body {
margin:0px;
padding:0px;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
background-color:#5C5A5A;
}

.nav-bar a {
	font:'Helvetica Neue', Helvetica, Arial;
  	color: #95989A;
  	text-decoration: none;
}

.nav-bar a:hover{
	color:#000;
	transition: all 0.3s ease-in-out;
}

.nav-bar li{
  	list-style-type:none;
  	color: #95989A;
}

.nav-bar li:hover{
	color:#000;
	cursor: pointer;
}

.nav-bar .bottom-border-expand:after{
  display:block;
  content: '';
  border-bottom: solid 1px #95989A;  
  transform: scaleX(0.0001);  
  transition: transform 250ms ease-in-out;
}

.nav-bar .bottom-border-expand:hover:after{
	transform: scaleX(0.6);
}


ul{
	padding-left:0px;
}

.nav-bar{
	margin-top:40px;
}

.nav-bar ul li{
	margin-bottom:20px;
}

.main-nav-2{
	display:none;
}

.main-navigation{
	font-family:"Raleway",Helvetica, sans-serif;
	color:#5C5A5A;
	font-weight:thin;
	position:fixed;
	left:67px;
	text-align:center;
	width:175px;
	height:100vh;
	z-index:999;
	background-color:#fff;
	box-shadow:0px 0px 3px 1px rgba(92, 90, 90, 0.8);
}

.main-navigation h1 a{
	font-size:46px;
	text-decoration: none;
	color:inherit;
}

iframe {
	position:fixed;
	margin-left:270px;
	margin-top:20vh;
	border-top:1px dashed rgba(0,0,0,0.2);
	overflow-y:hidden;
	height:80vh;
	width:75vw;

}

.center-white{
	position:fixed;
	text-align:center;
	color:#5C5A5A;
	background-color:white;
	margin-left:270px;
	margin-right:auto;
	height:20vh;
	padding-top:1%;
	width:75vw;
}

.main-navigation h3{
	font-size:18px;
	margin-top:-20px;
}

#dropdown .new-dropdown-hide li{
	margin-left:25px;
	margin-top:25px;
	font-size:12px;
}

#new-dropdown{
	border:1px solid transparent;
}

#new-dropdown-2{
	border:1px solid transparent;
}

.sliderfor img{
	height:75vh;
}

.black {
	background-color:black;
}

.slider-nav img{
	margin-top:8vh;
	margin-right:15px;
	height:20vh;
	width:auto;
}

.slider-nav{
	margin-left:67px;
	margin-right:67px;
}

.main-background-slider .slider-content img{
	height:100vh;
	width:auto;
}

/*Here is the media queries for mobile devices */

@media only screen and (max-width:900px){

.main-navigation{
	display:none;
}

body{
	background-color:black;
}

.main-nav-2{
	display:initial;
	text-align:center;
}

.main-nav-2 img{
	display:block;
	margin:0 auto;
}



#secondary-nav-dropdown a {
	font:'Helvetica Neue', Helvetica, Arial;
  	color: white;
  	text-decoration: none;
}

#secondary-nav-dropdown a:hover{
	color:#000;
	transition: all 0.3s ease-in-out;
}

#secondary-nav-dropdown li{
  	list-style-type:none;
  	color: #95989A;
}



iframe {
	position:relative;
	margin-left:auto;
	margin-top:2vh;
	border-top:1px dashed rgba(0,0,0,0.2);
	overflow-y:hidden;
	height:90vh;
	margin-left:10px;
	width:92vw;

}

.center-white h1{
	font-size:10px;
}

.center-white{
	display:none;
}

.iframe .container-fluid{
	overflow-y:hidden;
}



}



