body {
margin:0px;
padding:0px;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
background-color:#5C5A5A;
}

.nav-bar a {
	font:'Helvetica Neue', Helvetica, Arial;
  	color: #95989A;
  	text-decoration: none;
}

.nav-bar a:hover{
	color:#000;
	transition: all 0.3s ease-in-out;
}

.nav-bar li{
  	list-style-type:none;
  	color: #95989A;
}

.nav-bar li:hover{
	color:#000;
	cursor: pointer;
}

.nav-bar .bottom-border-expand:after{
  display:block;
  content: '';
  border-bottom: solid 1px #95989A;  
  transform: scaleX(0.0001);  
  transition: transform 250ms ease-in-out;
}

.nav-bar .bottom-border-expand:hover:after{
	transform: scaleX(0.6);
}


ul{
	padding-left:0px;
}

.nav-bar{
	margin-top:40px;
}

.nav-bar ul li{
	margin-bottom:20px;
}

.main-navigation{
	font-family:"Lao MN",Helvetica, sans-serif;
	color:#5C5A5A;
	font-weight:thin;
	position:fixed;
	left:67px;
	text-align:center;
	width:175px;
	height:100vh;
	z-index:999;
	background-color:#fff;
	box-shadow:0px 0px 3px 1px #5C5A5A;
}

.main-navigation h1 a{
	font-size:46px;
	text-decoration: none;
	color:inherit;
}


.main-navigation h3{
	font-size:18px;
	margin-top:-30px;
}

#dropdown .new-dropdown-hide li{
	margin-left:25px;
	margin-top:25px;
	font-size:12px;
}

#new-dropdown{
	border:1px solid transparent;
}


.main-background-slider .slider-content img{
	height:100vh;
	width:auto;
}




